<html>

<head>
    <title>Bulma Site Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Bulma V1.0.2 from cdnjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css"
        integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- FontAwesome v6.6.0 from cdnjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./script.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://github.com/ogatomo21/bulma-site-template">
                <p>Bulma Site Template</p>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Link1
                </a>

                <a class="navbar-item">
                    Link2
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary">
                            Sign in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <section class="hero is-link">
        <div class="hero-body">
            <p class="title">Bulma Site Template</p>
            <p class="subtitle">by Tomoya Ogawa(@ogatomo21)</p>
            <a href="#hello" class="button is-light">Learn more</a>
        </div>
    </section>

    <div class="m-6">
        <div id="hello" class="pb-6">
            <h2 class="title">Hello!</h2>
            <p>This is a sample text.</p>
        </div>
        <div id="hello" class="pb-6">
            <h2 class="title">What is this?</h2>
            <p>これはBulmaで簡単にサイトを製作できるサイトテンプレートです。</p>
        </div>
        <div id="hello" class="pb-6">
            <h2 class="title">読み込まれているスクリプト</h2>
            <p>このテンプレートにはBulma、FontAwesome、Bulmaのナビゲーションバーを動かす用のスクリプトが内蔵されています。</p>
        </div>
        <div id="hello" class="pb-6">
            <h2 class="title">License</h2>
            <p>このテンプレートはMIT Licenseです。じゃんじゃん使ってください。</p>
        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; Tomoya Ogawa 2024-2024
            </p>
        </div>
    </footer>
</body>

</html>